<%- include("../includes/head.ejs") %>

<div class="row-flex">
  <h1 class="detail-title">Login to your account!</h1>
  <a class="back-btn with-icon" href="/"
    ><i class="fa-solid fa-arrow-left"></i
  ></a>
</div>
<% if(errorMsg) { %>
<p class="err-msg"><%= errorMsg %></p>
<% } %>
<form class="post-form" action="/login" method="post">
  <input hidden value="<%= csrfToken %>" name="_csrf" />
  <div class="field">
    <label for="email">Email</label>
    <input
      type="text"
      name="email"
      id="email"
      value="<%= oldFormData.email %>"
      required />
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      value="<%= oldFormData.password %>"
      required />
  </div>
  <a class="forget-password" href="/reset-password">Forget Password?</a>
  <button type="submit">Login</button>
</form>

<%- include("../includes/foot.ejs") %>
