<%- include("../includes/head.ejs") %>

<div class="row-flex">
  <h1 class="detail-title">Reset Password</h1>
  <a class="back-btn with-icon" href="/login"
    ><i class="fa-solid fa-arrow-left"></i
  ></a>
</div>
<% if(errorMsg) { %>
<p class="warn-msg"><%= errorMsg %></p>
<% } %>
<form class="post-form" action="/reset" method="post">
  <input hidden value="<%= csrfToken %>" name="_csrf" />
  <div class="field">
    <label for="email">Email</label>
    <input
      type="text"
      name="email"
      id="email"
      value="<%= oldFormData.email %>"
      required />
  </div>
  <button type="submit">Send Reset Link</button>
</form>

<%- include("../includes/foot.ejs") %>
