<%- include("./includes/head.ejs") %>

<div class="row-flex">
  <h1 class="detail-title"><%= post.title %></h1>
  <a class="back-btn" href="/">Back to Home</a>
</div>
<div class="author">
  <p>Posted by: <span> <%= post.userId.username %> </span></p>
  <p>Posted on: <span> <%= post.createdAt %> </span></p>
</div>
<% if(post.image_url) { %>
<img class="detail-image" src="<%= post.image_url %>" alt="<%= post.title %>" />
<% } %>
<!-- space -->
<% if(post.userId._id.toString() == userInfo._id.toString()) { %>
<div class="option-row">
  <form action="/admin/post/delete/<%= post._id %>" method="post">
    <input hidden value="<%= csrfToken %>" name="_csrf" />
    <button class="delete-btn">Delete</button>
  </form>
  <a class="edit-btn" href="/admin/post/edit/<%= post._id %>">Edit</a>
</div>
<% } %>
<p class="detail-desc"><%= post.description %></p>

<%- include("./includes/foot.ejs") %>
