<%- include("./includes/head.ejs") %> <% if(postsArr.length < 1) { %>
<div class="no-posts">
  <h1>No Posts Found?</h1>
  <p>Create a new post here...</p>
  <form action="/admin/create-post" method="get">
    <button>Create Post</button>
  </form>
</div>
<% } else { %>
<h1 class="posts">Posts</h1>
<div class="post-cnt">
  <% for(let post of postsArr) { %>
  <div class="post-card">
    <h1 class="post-title"><%= post.title.toUpperCase() %></h1>
    <p class="post-desc"><%= post.description.substring(0, 80) + "..." %></p>
    <hr />
    <form action="/post-details/<%= post.id %>" method="get">
      <button>Details</button>
    </form>
  </div>
  <% } %>
</div>

<% } %> <%- include("./includes/foot.ejs") %>
