<%- include("./includes/head.ejs") %> <% if(postsArr.length < 1) { %>
<div class="no-posts">
  <h1>No Posts Found?</h1>
  <p>Create a new post here...</p>
  <!-- <form action="/admin/create-post" method="get">
    <button>Create Post</button>
  </form> -->
  <div class="nav-routing">
    <a class="create-route-btn w-full" href="/admin/create-post"
      >Create a new Post</a
    >
  </div>
</div>
<% } else { %>
<h1 class="posts">Posts</h1>
<div class="post-cnt">
  <% for(let post of postsArr) { %>
  <div class="post-card">
    <h1 class="post-title">
      <% if(post.title.length > 25) { %> <%=
      post.title.toUpperCase().substring(0, 25) + "..." %> <% } else { %> <%=
      post.title.toUpperCase() %> <% } %>
    </h1>
    <% if(post.image_url) { %>
    <img
      class="preview-image"
      src="<%= post.image_url %>"
      alt="<%= post.title %>" />
    <% } %>
    <p class="post-desc">
      <% if(post.description.length > 30) { %> <%= post.description.substring(0,
      30) + "..." %> <% } else { %> <%= post.description %> <% } %>
    </p>
    <hr />
    <!-- <form action="/post-details/<%= post.id %>" method="get">
      <button>Details</button>
    </form> -->
    <div class="routing">
      <a class="route-btn" href="/post/<%= post._id %>">Details</a>
    </div>
  </div>
  <% } %>
</div>

<% } %> <%- include("./includes/foot.ejs") %>
